<header>
	<nav>
		<ul>
			<li><a class="<%= path == '/' ? 'active' : '' %>" title="Home" href="/">Home</a></li>
			<li><a class="<%= path == '/edit-pokemon' ? 'active' : '' %>" title="Home" href="/edit-pokemon">Add pokemon</a></li>
		</ul>
	</nav>
</header>